body {

}

#startup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start_button:link, a:visited {
    background-color: aqua;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#start_button:hover, a:active {
    background-color: blue;
    color: white;
}

